<!-- Main wrapper  -->
<div id="main-wrapper">

  <div class="unix-login">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="login-content card">
            <div class="login-form">
              <h4>Register</h4>
              <form [formGroup]="signUpFrom" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Pseudo</label>
                  <input type="text" class="form-control" formControlName="username" placeholder="Pseudo">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" formControlName="email" class="form-control" placeholder="Email">
                  <span class="help-block" *ngIf="!signUpFrom.get('email').valid && signUpFrom.get('email').touched">Entrer une adresse mail valid</span>
                </div>
                <div class="form-group">
                  <label>Mot de passe</label>
                  <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe">
                  <span class="help-block">Le mot de passe doit contenir minimum 8 caractéres</span>
                </div>
                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" [disabled]="!signUpFrom.valid">Enregistrer</button>
                <span class="help-block" *ngIf="userExist" >Cet email est déja utilisé</span>
                <div class="register-link m-t-15 text-center">
                  <p>Vouas avez un compte ?
                    <a routerLink="/login"> Se connecter</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End Wrapper -->
